.DS_Store

# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Python Setuptools
out/
dist/
build/

# JetBrains
.idea/
*.iml
*.iws
*.ipr

# Visual Studio (code)
.vs*
/reports

# Tests
nosetests.xml
coverage.xml
.coverage

